body {
  min-width: 250px;
  margin: 0px;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 13px;
  color: #FFF;
  background-color: #f8f6f2;
  background-image: linear-gradient(top, rgb(76,175,80) 120px, rgb(234,234,234) 0%);
  background-image: -o-linear-gradient(top, rgb(76,175,80) 120px, rgb(234,234,234) 0%);
  background-image: -moz-linear-gradient(top, rgb(76,175,80) 120px, rgb(234,234,234) 0%);
  background-image: -webkit-linear-gradient(top , rgb(76,175,80) 120px, rgb(234,234,234) 0%);
  background-image: -ms-linear-gradient(top, rgb(76,175,80) 120px, rgb(234,234,234) 0%);
}

#header {
  text-align: center;
  padding-top: 8px;
  background-color: #01579B;
}

#header h1 {
  display: inline;
  color: #FFF;
  font-size: 14pt;
}

#wrapper {
  width: 210px;
  background-color: #FFF;
  color: #000;
  padding-bottom: 200px;
  margin: 0 20px;
  margin-top: 20px;


-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

#menu {
}

#content {
  clear: both;
  padding: 10px;
}

#footer {
}

.button {
  background-color: #01579B;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 6px;
  border-bottom: 4px solid #01579B;
}

.button:hover {
  border-bottom: 4px solid lightblue;
}

.left {
  float: left;
}

.right {
  float: right;
}

.half {
  position: relative;
  width: 50%;
  display: inline-block;
}


/*  PAPER TABS  */
    paper-tabs, core-toolbar {
      background-color: #01579B;
      color: #fff;
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    }
    
    core-toolbar paper-tabs {
      box-shadow: none;
    }
    
    paper-tabs paper-tab.core-selected {
      color: #FFF;
    }
    
    paper-tabs {
      background-color: #01579B;
      color: #FFF;
      box-shadow: none;
    }
    
    paper-tabs::shadow #selectionBar {
      background-color: lightblue;
      height: 4px;
    }
    
    paper-tabs paper-tab::shadow #ink {
      color: lightblue;
    }
