$color-header-bg-primary:	#4CAF50;
$color-header-bg-secondary:	#EAEAEA;
$color-primary:				#01579B;
$color-accent:				#A7CEDE;

$color-content-bg:			#FFF;
$color-content-font:		#000;
$color-title-font:			#FFF;