@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic,latin,greek);
@import url(http://yui.yahooapis.com/pure/0.6.0/pure-min.css);
@import 'vars';
//Green: #4CAF50
//Gray: #EAEAEA
//Blue: #01579B

body {
  min-width: 400px;
  margin: 0px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #01579B;
  background-color: #EAEAEA;
  background-image: linear-gradient(top, $color-header-bg, $color-gray 0%);
  background-image: -webkit-linear-gradient(top , $color-header-bg 102px, $color-gray 0%);
  overflow: hidden;
}

#header {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #01579B;
  h1 {
    display: inline;
    color: #FFF;
    font-size: 14pt;
  }
}

#wrapper {
  width: 360px;
  background-color: $color-content-bg;
  color: $color-content-font;
  padding-bottom: 191px;
  margin: 0 20px;
  margin-top: 20px;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

#distance-traveled {
	line-height: 50px;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 16pt;
  color: $color-title-font;
  border-color: #A7CEDE;
}

#content {
  clear: both;
  padding: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.half {
  position: relative;
  width: 50%;
  display: inline-block;
}

table {
  width: 100%;
}

.bold {
  font-weight: bold;
}

/*  PAPER TABS  */
    paper-tabs, core-toolbar {
      background-color: #01579B;
      color: #fff;
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    }
    
    
    paper-tabs {
      paper-tab.core-selected {
        color: #FFF;
      }
      background-color: #01579B;
      color: #FFF;
      box-shadow: none;
    }
    
    paper-tabs::shadow #selectionBar {
      background-color: lightblue;
      height: 4px;
    }
    
    paper-tabs paper-tab::shadow #ink {
      color: lightblue;
    }
