@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic,latin,greek);
@import url(http://yui.yahooapis.com/pure/0.6.0/pure-min.css);

body {
  min-width: 400px;
  margin: 0px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #01579B;
/*  background-color: #EAEAEA;
*//*  background-image: linear-gradient(top, rgb(76,175,80) 102px, rgb(234,234,234) 0%);
  background-image: -webkit-linear-gradient(top , rgb(76,175,80) 102px, rgb(234,234,234) 0%);*/
  background: #4CAF50;
  max-height: 281px;
  /*background-image: -o-linear-gradient(top, rgb(76,175,80) 120px, rgb(234,234,234) 0%);*/
  /*background-image: -moz-linear-gradient(top, rgb(76,175,80) 120px, rgb(234,234,234) 0%);*/
  /*background-image: -ms-linear-gradient(top, rgb(76,175,80) 120px, rgb(234,234,234) 0%);*/
}

#header {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #01579B;
}
#header h1 {
  display: inline;
  color: #FFF;
  font-size: 14pt;
}

#wrapper {
  width: 360px;
  background-color: #FFF;
  color: #000;
  padding-bottom: 200px;
  margin: 0 20px;
  margin-top: 20px;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

#menu {
}

.distance-traveled {
	line-height: 200px;
	text-align: center;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	font-size: 40pt;
}

#content {
  clear: both;
  padding: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.half {
  position: relative;
  width: 50%;
  display: inline-block;
}

/* DISTANCE TABLE */
#allTimeDistanceTable {
    width: 100%;
}

#dailyDistanceTable {
    width: 100%;
}

.bold {
  font-weight: bold;
}

/*  PAPER TABS  */
    paper-tabs, core-toolbar {
      background-color: #01579B;
      color: #fff;
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    }
    
    core-toolbar paper-tabs {
      height: 40px !important;
      box-shadow: none;
    }
    
    paper-tabs paper-tab.core-selected {
      color: #FFF;
    }
    
    paper-tabs {
      background-color: #01579B;
      color: #FFF;
      box-shadow: none;
    }
    
    paper-tabs::shadow #selectionBar {
      background-color: lightblue;
      height: 4px;
    }
    
    paper-tabs paper-tab::shadow #ink {
      color: lightblue;
    }
